h1{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    input[type=logIn] {
    width: 5%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=signUp] {
    width: 5%;
    background-color: #e67458;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=logIn]:hover {
    background-color: #45a049;
}

    input[type=signUp]:hover {
    background-color: #e66140;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
