<div id= "container">
  <app-sidebar></app-sidebar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="30" height="30" alt="star" src="data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7">
</div>
<h2>Please enter your acount number and passwords </h2>

 <div> 
    <form action="/action_page.php">
      <label for="fname">Acount Number</label>
      <input type="text" id="fname" name="acountNumber" placeholder="Your acount number..">
  
      <label for="lname">Password</label>
      <input type="text" id="lname" name="password" placeholder="Your password..">
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    
      <input type="logIn" value="Log In">
      
      <input type="signUp" value="Sign Up">
    </form>
  </div>
  <h3>If you don't have an account , sign up here</h3>
-->