<div style="text-align:center">

    <h1>Welcome to Jervis Project</h1>
    <img alt="building" src="https://media1.tenor.com/images/a79de1b1b421b1562a17a35a9515a6cb/tenor.gif?itemid=3545948">
</div>

<p>Hover over the image to see the effect.</p>

<div class="container">
    <img alt="building" src="https://media1.tenor.com/images/a79de1b1b421b1562a17a35a9515a6cb/tenor.gif?itemid=3545948">
  
    <div class="middle">
      <div class="text">Jervis</div>
    </div>
</div>

<h2>Address</h2>
<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3688.014347581308!2d-94.72799439377023!3d38.987063220635726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1541706311177" 
  width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
